{% extends "panel_admin/base.html" %}
{% load static %}
{% block content %}
<section id="content" class="bg">
	<div class="container">
		<div class="row ">
			<div class="col col s12 m12 l12 center" style="margin-top: 15vh;margin-bottom: 14vh;">
			<img  style="max-width: 40%;height: auto" src="{% static 'images/logo.png' %}"> <!-- notice the "circle" class -->
			<h4 style="font-weight: bold;">Bienvenid@ {{request.user.username}} al panel Admin de la <br> Aplicación Web de la Iglesia Vida Plena</h4>
		    </div>
		</div>
	</div>
</section>

{% endblock%}

